@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BusinessRequestModel
@{
    ViewData["Title"] = "CreateBusinessRequest";
}

@section Styles{
    <link href="~/css/create-patient-request.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
}

<div class="bg-light">
    <div id="main-page">
        <div style="height: 100px;background-color: white;" id="navigation">

            <img src="~/images/logo1.png" alt="" style="height: 80px;" class="ms-5">
            <div class="moon-flex">
                <button onclick="changeTheme()" class="change-theme">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                        <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                    </svg>
                </button>
                <button onclick="changeTheme()" class="change-theme hide-icon">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="container mt-4 shadow-lg p-3 mb-4 bg-white rounded">
            <div>
                <a class="float-end text-info" id="backdesign" asp-controller="Login" asp-action="SubmitRequestScreen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back
                </a>
            </div>
            <form method="post" asp-action="CreateBusinessRequest" asp-controller="PatientRequest" enctype="multipart/form-data" id="myForm">
            <div class="row">
                <div class="col mt-4 ps-0">
                    <p class="h5 text-muted fw-bold" id="heading-one">
                        Business Information
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="BusinessFirstName">
                    <label for="floatingInput" class="ms-2 text-muted">Your First Name</label>
                        <span asp-validation-for="BusinessFirstName" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="BusinessLastName">
                    <label for="floatingInput" class="ms-2 text-muted">Your Last Name</label>
                        <span asp-validation-for="BusinessLastName" class="text-danger"></span>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mt-3 form-floating">
                    <input id="phone" class="form-control" type="tel" asp-for="BusinessPhoneNumber"/>
                        <span asp-validation-for="BusinessPhoneNumber" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="BusinessEmail">
                    <label for="floatingInput" class="ms-2 text-muted">Your Email</label>
                        <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                    </div>
            </div>

            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="BusinessPropertyName">
                    <label for="floatingInput" class="ms-2 text-muted">Business Property Name</label>
                        <span asp-validation-for="BusinessPropertyName" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="BusinessCaseNumber">
                    <label for="floatingInput" class="ms-2 text-muted">Case Number (Optional)</label>
                </div>
            </div>

            <div class="row">
                <div class="col mt-4">
                    <p class="h5 text-muted fw-bold" id="heading-two">
                        Patient Information
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-3">
                    <textarea class="form-control" id="firstTextArea"
                              placeholder="Enter Brief Details Of Symptoms (Optional)" rows="4" asp-for="Symptoms"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="FirstName">
                    <label for="floatingInput" class="ms-2 text-muted">Your First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="LastName">
                    <label for="floatingInput" class="ms-2 text-muted">Your Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-floating mt-3">
                    <input id="startDate" class="form-control" type="date" placeholder="Date Of Birth" asp-for="DOB">
                    <label for="floatingInput" class="ms-2 text-muted">Date Of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
            </div>

            <div class="row">
                <div class="col mt-4">
                    <p class="h5 text-muted fw-bold" id="heading-three">
                        Patient Contact Information
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Email">
                    <label for="floatingInput" class="ms-2 text-muted">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                <div class="col-sm-6 mt-3 form-floating">
                    <input id="phone1" class="form-control" type="tel" asp-for="PhoneNumber"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
            </div>

            <div class="row">
                <div class="col mt-4">
                    <p class="h5 text-muted fw-bold" id="heading-four">
                        Patient Location
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Street">
                    <label for="floatingInput" class="ms-2 text-muted">Street</label>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="City">
                    <label for="floatingInput" class="ms-2 text-muted">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="State">
                    <label for="floatingInput" class="ms-2 text-muted">State</label>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Zipcode">
                    <label for="floatingInput" class="ms-2 text-muted">Zipcode</label>
                        <span asp-validation-for="Zipcode" class="text-danger"></span>
                    </div>
            </div>
            <div class="row">
                <div class="form-floating col-sm-6 mt-3">
                    <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Room">
                    <label for="floatingInput" class="ms-2 text-muted">Room # / Suite (Optional)</label>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col">
                    <button type="button" class="btn btn-outline-info float-end mb-3 cancelbutton">Cancel</button>
                    <button type="submit" class="btn btn-info float-end me-3 mb-3">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <script>
        window.onload = function checkingTheme() {
            let themeCheck = localStorage.getItem('theme');
            if (themeCheck == null || themeCheck == 'light') {
                localStorage.setItem('theme', 'light');
                document.getElementById('main-page').style.backgroundColor = 'white';
                document.getElementById('navigation').style.backgroundColor = 'white';
                document.getElementById('heading-one').style.color = 'black';
                document.getElementById('heading-two').style.color = 'black';
                document.getElementById('heading-three').style.color = 'black';
                document.getElementById('heading-four').style.color = 'black';
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
            else {
                document.getElementById('main-page').style.backgroundColor = 'black';
                document.getElementById('navigation').style.backgroundColor = 'black';
                document.getElementById('heading-one').style.color = 'white';
                document.getElementById('heading-two').style.color = 'white';
                document.getElementById('heading-three').style.color = 'white';
                document.getElementById('heading-four').style.color = 'white';
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            }
        }

        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                console.log('theme changed to dark');
                document.getElementById('main-page').style.backgroundColor = 'black';
                document.getElementById('navigation').style.backgroundColor = 'black';
                document.getElementById('heading-one').style.color = 'white';
                document.getElementById('heading-two').style.color = 'white';
                document.getElementById('heading-three').style.color = 'white';
                document.getElementById('heading-four').style.color = 'white';
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            }
            else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                console.log('theme changed to light');
                document.getElementById('main-page').style.backgroundColor = 'white';
                document.getElementById('navigation').style.backgroundColor = 'white';
                document.getElementById('heading-one').style.color = 'black';
                document.getElementById('heading-two').style.color = 'black';
                document.getElementById('heading-three').style.color = 'black';
                document.getElementById('heading-four').style.color = 'black';
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
        }

        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            innerHeight: 1,
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        const phoneInputField1 = document.querySelector("#phone1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            innerHeight: 1,
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        $('#cancelbutton').on('click', function () {
            $("#myForm").reset();
        });
    </script>

    @section Scripts{
        @{
            <partial name="_ValidationScriptsPartial" />
        }
    }
</div>
