@model LoginViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}
@section Styles {
    <link href="~/css/forgot-password.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
}

<div style="display: flex;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: rgba(250,250,250,0.4);
    justify-content: center;">
    <div class="moon-flex">

        <button onclick="changeTheme()" class="change-theme">
            <!-- <i class="bi bi-brightness-high"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
            </svg>
        </button>
        <button onclick="changeTheme()" class="change-theme hide-icon">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
            </svg>
        </button>
    </div>

    <!-- container-fluid: to center the page content -->
    <!-- flex-column: we want everything in single column -->
    <!-- gap-3: gap of 3 (on the scale of 0 to 5) between 2 items -->
    <!-- mx-5: margin of 5 from left -->
    <div class="container-fluid gap-3 rounded-2 d-flex flex-column justify-content-between align-items-center"
         id="main-page">
        <img src="~/images/logo1.png" alt="">
        <img src="~/images/login.jpg" class="back-img" alt="">

        <div class="my-auto" style="z-index: 2;">
            <a asp-controller="Login" asp-action="PatientLoginPage" class="mb-1 btn link-info fw-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                Back
            </a>

            <div>
                <h1 class="reset mb-5">Reset Your Password</h1>

            </div>
            <form method="post" asp-action="SendMailForSetUpAccount" asp-controller="Login">
            <div class="form-floating mb-2 w-100 input-icons first-input">
                <!-- <i class="fa-regular fa-user icon"></i> -->
                <i class="bi bi-person"></i>
                <input type="email" class="form-control bg-transparent" id="floatingInput"
                       placeholder="name@example.com" asp-for="UserName">
                <label for="floatingInput" class="text-muted">Email</label>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#54B4D3"
                     class="bi bi-person person-icon" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
            </div>


            <button type="submit" class="btn btn-primary w-100 mt-3">Reset Password</button>
            </form>
            <div class="text-center">
                <a asp-controller="Login" asp-action="PatientLoginPage" class="mb-5 btn link-primary mt-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back to Login
                </a>
            </div>
        </div>

        <div class="footer d-flex gap-3 mb-5 justify-content-around text-muted t-and-c">
            <p id="term">Terms and conditions</p>
            <p id="of">|</p>
            <p id="privacy">Privacy Policy</p>
        </div>
    </div>
</div>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script>
        window.onload = function checkingTheme() {
            let themeCheck = localStorage.getItem('theme');
            if (themeCheck == null || themeCheck == 'light') {
                document.getElementById('main-page').style.backgroundColor = '#fcfcfc';
                document.getElementsByClassName('reset')[0].style.color = 'black';
                document.getElementsByClassName('first-input')[0].style.backgroundColor = 'white';
                document.getElementById('term').style.color = 'gray';
                document.getElementById('of').style.color = 'gray';
                document.getElementById('privacy').style.color = 'gray';
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
            else {
                document.getElementById('main-page').style.backgroundColor = 'black';
                document.getElementsByClassName('reset')[0].style.color = 'white';

                document.getElementsByClassName('first-input')[0].style.backgroundColor = 'white';
                document.getElementById('term').style.color = 'white';
                document.getElementById('of').style.color = 'white';
                document.getElementById('privacy').style.color = 'white';
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            }
        }

        function changeTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null || theme == 'light') {
                localStorage.setItem('theme', 'dark');
                console.log('theme changed to dark');
                document.getElementById('main-page').style.backgroundColor = 'black';
                document.getElementsByClassName('reset')[0].style.color = 'white';

                document.getElementsByClassName('first-input')[0].style.backgroundColor = 'white';
                document.getElementById('term').style.color = 'white';
                document.getElementById('of').style.color = 'white';
                document.getElementById('privacy').style.color = 'white';
                document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
            }
            else if (theme == 'dark') {
                localStorage.setItem('theme', 'light');
                document.getElementById('main-page').style.backgroundColor = '#fcfcfc';
                document.getElementsByClassName('reset')[0].style.color = 'black';

                document.getElementsByClassName('first-input')[0].style.backgroundColor = 'white';
                document.getElementById('term').style.color = 'gray';
                document.getElementById('of').style.color = 'gray';
                document.getElementById('privacy').style.color = 'gray';
                document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
                document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
            }
        }
    </script>


