@model AdminCreateRequestModel
@{
    ViewData["Title"] = "Create Request";
}

@section Styles {
    @*<link href="~/css/create-patient-request.css" rel="stylesheet" type="text/css" />*@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}

<!--Location Modal -->

<div class="modal" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <section>
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="600" height="500" id="gmap_canvas" src="" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">

                            <!-- </iframe><a href="https://123movies-to.org">123 movies</a><br> -->
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                            <!-- <a href="https://www.embedgooglemap.net">embedgooglemap.net</a> -->
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </iframe>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<style>
    input:focus {
        outline: #3DB6FF !important;
        /*border: 2px solid white !important;*/
        box-shadow: none !important;
        border-color: #3DB6FF !important;
        /*color: red !important;*/
    }

    select:focus {
        outline: #3DB6FF !important;
        /*border: 2px solid white !important;*/
        box-shadow: none !important;
        border-color: #3DB6FF !important;
        /*color: red !important;*/
    }

    textarea:focus {
        outline: none !important;
        border-color: #3DB6FF !important;
        box-shadow: none !important;
    }

        textarea:focus::placeholder {
            color: #3DB6FF !important;
        }

    .form-floating:focus-within label {
        color: #3DB6FF !important;
    }

    .iti input {
        width: 100% !important;
        height: 58px;
    }

    textarea{
        resize: none;
    }

    .iti {
        display: block !important;
    }
</style>

<div class="bg-light">
    <div id="main-page">
        <partial name="HeaderFooter" model="@Model.adminNavbarModel" />
        <partial name="Toast" />
        <div class="container mt-4 shadowalign-content-lg-around bg-muted rounded">
            <div class="row d-flex flex-row">
                <div class="w-50 mt-3">
                    <p class="h5 text-muted fw-bold ms-0" id="heading-one">
                        Submit Information
                    </p>
                </div>
                <div class="w-50 mt-3">
                    <a class="float-end text-info" id="backdesign" asp-controller="Admin" asp-action="AdminDashboard" style="text-decoration: none;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        Back
                    </a>
                </div>
            </div>
        </div>
        <div class="container mt-4 shadow-lg p-3 mb-5 bg-muted rounded" id="main-container">

            <form method="post" asp-action="CreateRequest" asp-controller="Admin" enctype="multipart/form-data">
                <div class="row">
                    <div class="col mb-3">
                        <p class="h5 text-muted fw-bold ms-0" id="heading-one">
                            Patient
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="FirstName">
                        <label for="floatingInput" class="ms-2 text-muted">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="LastName">
                        <label for="floatingInput" class="ms-2 text-muted">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" id="emailInput" placeholder="Your First Name" aria-label="First name" asp-for="Email">
                        <label for="floatingInput" class="ms-2 text-muted">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input id="phone" class="form-control" type="tel" asp-for="PhoneNumber" required />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="row hidden-pass" style="display:none;">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="password" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Password">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Create Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="password" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="ConfirmPassword">
                        <label for="floatingInput" class="ms-2 text-muted class-for-label">Confirm Password</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 form-floating mt-3">
                        <input id="startDate" class="form-control" type="date" placeholder="Date Of Birth" asp-for="DOB">
                        <label for="floatingInput" class="ms-2 text-muted">Date Of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>

                    </div>

                </div>

                <div class="row">
                    <div class="col mt-4">
                        <p class="h5 text-muted fw-bold" id="heading-two">
                            Location
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" id="street" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Street">
                        <label for="floatingInput" class="ms-2 text-muted">Street</label>
                        <span asp-validation-for="Street" class="text-danger"></span>

                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" id="city" placeholder="Your First Name" aria-label="First name" asp-for="City">
                        <label for="floatingInput" class="ms-2 text-muted">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" id="state" placeholder="Your First Name" aria-label="First name" asp-for="State">
                        <label for="floatingInput" class="ms-2 text-muted">State</label>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" id="zipcode" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="AdminRequestZipCode">
                        <label for="floatingInput" class="ms-2 text-muted">Zipcode (Optional)</label>
                        @*<span asp-validation-for="AdminRequestZipCode" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col-sm-6 mt-3">
                        <input type="text" class="form-control" placeholder="Your First Name" aria-label="First name" asp-for="Room">
                        <label for="floatingInput" class="ms-2 text-muted">Room # / Suite (Optional)</label>
                    </div>
                    <div class="form-floating col-sm-1 mt-3">
                        <a onclick="verifyLocation()" class="btn btn-outline-info">Verify</a>
                    </div>
                    <div class="form-floating col-sm-1 mt-3" id="openBtn">
                        <button type="button" class="btn btn-outline-info"><i class="bi bi-geo-alt"></i><span class="d-none d-md-inline-block">Map</span></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <p class="h5 text-muted fw-bold" id="heading-two">
                            Notes
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col mb-3 mt-3">
                        <textarea class="form-control" id="firstTextArea"
                                  placeholder="Admin Notes (Optional)" rows="4" asp-for="AdminNotes"></textarea>
                    </div>
                </div>


                <div class="row">
                    <div class="col">
                        <a type="button" asp-controller="Admin" asp-action="AdminDashboard" class="btn btn-outline-info float-end mb-3">Cancel</a>
                        <button type="submit" class="btn btn-info float-end me-3 mb-3">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    
        $('#emailInput').on('focusout', function () {
            var inputValue = $('#emailInput').val();

            $.get('/PatientRequest/PatientCheck', { email: inputValue }, function (response) {
                console.log(response);
                if (response != true) {
                    document.getElementsByClassName("hidden-pass")[0].style.display = "flex";
                }
                else {
                    document.getElementsByClassName("hidden-pass")[0].style.display = "none";
                }
            });
        });


    window.onload = function checkingTheme() {
        let themeCheck = localStorage.getItem('theme');
        if (themeCheck == null || themeCheck == 'light') {
            localStorage.setItem('theme', 'light');
            document.getElementById('main-page').style.backgroundColor = 'white';
            document.getElementById('navigation').style.backgroundColor = 'white';
            document.getElementById('heading-one').style.color = 'black';
            document.getElementById('heading-two').style.color = 'black';
            document.getElementById('heading-three').style.color = 'black';
            document.getElementById('heading-four').style.color = 'black';
            document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
            document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
        }
        else {
            document.getElementById('main-page').style.backgroundColor = 'black';
            document.getElementById('navigation').style.backgroundColor = 'black';
            document.getElementById('heading-one').style.color = 'white';
            document.getElementById('heading-two').style.color = 'white';
            document.getElementById('heading-three').style.color = 'white';
            document.getElementById('heading-four').style.color = 'white';
            document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
            document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
        }
    }

    function changeTheme() {
        let theme = localStorage.getItem('theme');
        if (theme == null || theme == 'light') {
            localStorage.setItem('theme', 'dark');
            console.log('theme changed to dark');
            document.getElementById('main-page').style.backgroundColor = 'black';
            document.getElementById('navigation').style.backgroundColor = 'black';
            document.getElementById('heading-one').style.color = 'white';
            document.getElementById('heading-two').style.color = 'white';
            document.getElementById('heading-three').style.color = 'white';
            document.getElementById('heading-four').style.color = 'white';
            document.getElementsByClassName('change-theme')[0].classList.add('hide-icon');
            document.getElementsByClassName('change-theme')[1].classList.remove('hide-icon');
        }
        else if (theme == 'dark') {
            localStorage.setItem('theme', 'light');
            console.log('theme changed to light');
            document.getElementById('main-page').style.backgroundColor = 'white';
            document.getElementById('navigation').style.backgroundColor = 'white';
            document.getElementById('heading-one').style.color = 'black';
            document.getElementById('heading-two').style.color = 'black';
            document.getElementById('heading-three').style.color = 'black';
            document.getElementById('heading-four').style.color = 'black';
            document.getElementsByClassName('change-theme')[1].classList.add('hide-icon');
            document.getElementsByClassName('change-theme')[0].classList.remove('hide-icon');
        }
    }

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        innerHeight: 1,
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    $(document).ready(function () {
        $("#openBtn").click(function () {
            $("#myModal1").modal("show");
            var Street = $("#street").val();
            var City = $("#city").val();
            var State = $("#state").val();
            var ZipCode = $("#zipcode").val();
            var address = "https://maps.google.com/maps?q=" + Street + City + State + ZipCode + "&t=&z=13&ie=UTF8&iwloc=&output=embed";
            $("#gmap_canvas").attr("src", address);
        });
    });

    $(document).ready(function () {
        $("#closeBtn1").click(function () {
            $("#myModal1").modal("hide");
        });
    });

    function verifyLocation() {
        console.log(document.getElementById("state").value);
        $.ajax({
            url: `/Admin/VerifyLocation`,
            type: 'POST',
            data: { state: document.getElementById("state").value },
            success: function (data) {
                if (data.isVerified == 1) {
                    toastr.success("Entered address belongs to the available services");
                }
                else if (data.isVerified == 2) {
                    toastr.error("Entered address does not belong to the available services");
                }
                else {
                    toastr.error("Enter a valid region value");
                }
            },
            error: function(error){
                alert("An error occurred");
            }
        });
    }

    window.onload = function () {
        var today = new Date().toISOString().split('T')[0];
        document.getElementById("startDate").setAttribute('max', today);
    };

</script>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
