@using static HalloDoc.DataLayer.Models.Enums;
@model HalloDoc.DataLayer.ViewModels.PatientHistoryViewModel
@{
    ViewData["Title"] = "Patient Records";
}

@section Styles{
    <link rel="stylesheet" href="~/css/patient-history.css" />
}

<div class="bg-light" style="overflow: hidden;">

    <partial name="HeaderFooter" model="@Model.AdminNavbarModel" />

    <partial name="Toast" />

    <div class="container-fluid">
        <div class="row">
            <div style="top: 42px; position: relative;" class="col me-5">
                <input type="hidden" id="userId" asp-for="userId"/>
                <a class="float-end text-info mx-auto" id="backdesign" asp-controller="Admin" asp-action="PatientHistory" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back
                </a>
            </div>
            @*PatientDashboardAndMedicalHistory*@

            <div class="row">
                <div class="col mt-2 ms-5">
                    <p class="h5 text-muted fw-bold" id="heading-one">
                        Patient Record
                    </p>
                </div>
            </div>



        </div>

        <div>
            <div class="mt-4 ms-3 me-3 myTable" id="PatientRecordsPartialView"></div>
        </div>

    </div>

</div>

<script>

    window.onload = function(){
        filter(1,10);
    };

    const filter = (p, ps) => {
        $.ajax({
            url: '/Admin/PatientRecordsFilteredData',
            type: 'POST',
            datatype: 'html',
            data: { userid: document.getElementById("userId").value, page: p, pageSize: ps},
            success: function(response)
            {
                $("#PatientRecordsPartialView").html(response);
            },
            error: function(){
                alert("An error occurred");
            }
        });
    }
    
</script>