@model HalloDoc.DataLayer.ViewModels.ProviderMenuViewModel
@{
    ViewData["Title"] = "Provider Menu";
}

@section Styles{
    <link rel="stylesheet" href="~/css/provider-menu.css" />
}

<div class="bg-light" style="overflow: hidden;">
    <partial name="HeaderFooter" model="@Model.an" />

    <partial name="Toast" />

    <div class="container">
        <div class="row">
            <div style="top: 42px; position: relative;" class="col">
                <a class="float-end text-info mx-auto" id="backdesign" asp-controller="Login" asp-action="PatientDashboardAndMedicalHistory" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                    </svg>
                    Back
                </a>
            </div>
            @*PatientDashboardAndMedicalHistory*@

            <div class="row">
                <div class="col mt-2">
                    <p class="h5 text-muted fw-bold" id="heading-one">
                        Provider Information
                    </p>
                </div>
            </div>
        </div>
        <div class="bg-white p-0">
            <div class="d-flex justify-content-between align-items-center flex-row mt-3">
                <div class="h-50 ms-4 mt-2">
                    <select class="btn border border-muted dropdown-toggle text-secondary w-100 px-2 py-1" style="text-align:start;" data-bs-toggle="dropdown" aria-expanded="false" name="RegionId" id="select-region" onchange="filter()">
                        <option selected><i class="bi bi-person"></i> All</option>
                        @foreach (var item in Model.regions)
                        {
                            <option value="@item.RegionId" class="bg-white">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="h-50 me-4 mt-2">
                    <a type="button" class="btn btn-info" asp-action="CreateProviderAccount" asp-controller="Admin">Create Provider Account</a>
                </div>
            </div>

            <div>
                <div class="table-responsive mt-4 ms-3 me-3 myTable" id="ProviderMenuPagePartialView"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $.ajax({
        url: '/Admin/ProviderMenuFilter',
        type: 'POST',
        datatype: 'html',
        data: {
            region: document.getElementById("select-region").value
        },
        success: function (response) {
            $("#ProviderMenuPagePartialView").html(response);

        },
        error: function () {
            alert('An error occurred.');
        }

    });


    function filter(page, pageSize) {
        $.ajax({
            url: '/Admin/ProviderMenuFilter',
            type: 'POST',
            datatype: 'html',
            data: {
                region: document.getElementById("select-region").value, page: page, pageSize: pageSize
            },
            success: function (response) {
                $("#ProviderMenuPagePartialView").html(response);

            },
            error: function () {
                alert('An error occurred.');
            }

        });
    }
</script>
