@model RequestClient
@{
    ViewData["Title"] = "Review Agreement";
}
@section Styles {
    <link href="~/css/admin-dashboard.css" rel="stylesheet" type="text/css" />
    <style>
        textarea {
            resize: none;
        }
    </style>
}

<div class="mx-auto d-flex text-center">
    <div class="mt-5">
        <div class="row">
            <div class="col-3"></div>
            <form method="post" asp-action="AcceptAgreement" asp-controller="Admin" asp-route-id="@Model.RequestClientId">
                <div class="col-6 mx-auto my-auto">
                    <p class="fw-normal">
                        To provide best medical service, we cannot determine the cost right away. If you
                        agree to our service, so we will provide care and follow-up until all care is completed. So with
                        this points, if you like us to provide care to you click on "Agree" and we'll get started
                        immediately, if you do not agree simply click "Cancel".
                    </p>
                    <button type="submit" class="btn btn-success mt-5 ms-5 float-start">I Agree</button>
                    <button type="button" class="btn btn-danger mt-5 me-5 ms-md-0 ms-3 float-end" data-bs-toggle="modal"
                            data-bs-target="#centeredModal">
                        Cancel
                    </button>
                </div>
            </form>
            <div class="col-3"></div>
        </div>
        <div class="modal" tabindex="-1" id="centeredModal" aria-labelledby="centeredModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h5 class="modal-title text-white">Cancel Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                style="color: white;"></button>
                    </div>
                    <div>
                        <form method="post" asp-action="CancelAgreement" asp-controller="Admin" >
                            <div class="modal-body">
                                <p>@Model.FirstName.Concat(@Model.LastName)</p>
                                <textarea name="desc" id="" cols="60" rows="3" class="py-2"
                                          placeholder="Please provide a brief explanation for your cancelation" required></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-info">Continue</button>
                                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
