@using static HalloDoc.DataLayer.Models.Enums;
@model HalloDoc.DataLayer.ViewModels.SearchRecordsViewModel

@{
    ViewData["Title"] = "Search Records";
}

@section Styles{
    <link href="~/css/search-records.css" rel="stylesheet" type="text/css"/>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

<partial name="Toast" />

<body class="bg-light">
    <div class="bg-light" style="overflow: hidden;">
        <partial name="HeaderFooter" model="@Model.adminNavbarModel" />
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mt-5 w-auto">
                <div class="ms-5 d-inline-block w-auto">
                    <span class="h5 text-muted fw-bold" id="heading-one">
                        Search Records
                    </span>
                </div>

                <div class="me-5 d-inline-block w-auto">
                    <button type="button" class="btn btn-info text-white" onclick="downloadExcel()"><i class="fa-solid fa-reply-all fa-flip-horizontal" style="color: #f5f5f5;"></i><span class="d-none d-md-inline-block">Export Data to Excel</span></button>
                </div>
            </div>

            <div class="bg-white mt-4 rounded ms-5 me-5">
                <form method="post" asp-action="ExportSearchRecords" asp-controller="Admin">

                    <div class="row searches">
                        <div class="dropdown form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <select class="form-select dropdown-toggle text-secondary w-100" id="selectStatus" style="text-align: start;" asp-for="requestStatus">
                                <option value="" disabled hidden selected class="text-muted">Select Request Status</option>
                                <option value="1" class="text-muted">Unassigned</option>
                                <option value="2" class="text-muted">Accepted</option>
                                <option value="3" class="text-muted">Cancelled</option>
                                <option value="4" class="text-muted">MDEnRoute</option>
                                <option value="5" class="text-muted">MDONSite</option>
                                <option value="6" class="text-muted">Conclude</option>
                                <option value="7" class="text-muted">CancelledByPatient</option>
                                <option value="8" class="text-muted">Closed</option>
                                <option value="9" class="text-muted">Unpaid</option>
                                <option value="10" class="text-muted">Clear</option>
                                <option value="11" class="text-muted">Blocked</option>
                            </select>
                        </div>
                        <div class="form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="text" id="patientName" class="form-control search-input"
                                   placeholder="Last Name" asp-for="patientName">
                            <label for="floatingInput" class="ms-2 text-muted">Patient Name</label>
                        </div>
                        <div class="dropdown form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <select class="form-select dropdown-toggle text-secondary w-100" id="selectRequestType" style="text-align: start;" asp-for="requestType">
                                <option value="" selected disabled hidden class="text-muted">Select Request Type</option>
                                <option value="1" class="text-muted">Patient</option>
                                <option value="2" class="text-muted">Family</option>
                                <option value="3" class="text-muted">Concierge</option>
                                <option value="4" class="text-muted">Business</option>
                            </select>
                        </div>
                        <div class="form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="date" id="fromDate" class="form-control search-input"
                                   placeholder="Date" asp-for="fromDate">
                            <label for="floatingInput" class="ms-2 text-muted">From Date Of Service</label>
                        </div>
                    </div>

                    <div class="row searches mt-3">
                        <div class="form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="date" id="toDate" class="form-control search-input"
                                   placeholder="Date" asp-for="toDate">
                            <label for="floatingInput" class="ms-2 text-muted">To Date Of Service</label>
                        </div>
                        <div class="form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="text" id="providerName" class="form-control search-input"
                                   placeholder="Last Name" asp-for="providerName">
                            <label for="floatingInput" class="ms-2 text-muted">Provider Name</label>
                        </div>
                        <div class="dropdown form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="text" id="email" class="form-control search-input"
                                   placeholder="Last Name" asp-for="email">
                            <label for="floatingInput" class="ms-2 text-muted">Email</label>
                        </div>
                        <div class="form-floating col-lg-3 col-md-6 col-sm-12 mt-2 search-cols">
                            <input type="text" id="phoneNumber" class="form-control search-input"
                                   placeholder="Last Name" asp-for="phoneNumber">
                            <label for="floatingInput" class="ms-2 text-muted">Phone Number</label>
                        </div>
                        <input type="submit" style="display: none;" id="submit-button"/>
                    </div>
                </form>

                <div class="row mt-4 d-flex align-items-end justify-content-end">
                    <div class="d-inline-block w-auto">
                        <button type="button" class="btn btn-outline-info" id="cancelButton" onclick="removeFilter()">Clear</button>
                    </div>
                    <div class="d-inline-block w-auto me-3">
                        <button type="button" class="btn btn-info text-white" id="searchButton" onclick="filter()">Search</button>
                    </div>
                </div>



                <div>
                    <div id="loader2" class="loader2">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="mt-4 ms-3 me-3 myTable" id="SearchRecordsPartialView"></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    window.onload = () => {
        var today = new Date().toISOString().split('T')[0];
        console.log(today);
        document.getElementById("fromDate").setAttribute('max', today);

        var today2 = new Date().toISOString().split('T')[0];
        document.getElementById("toDate").setAttribute('min', today2);

        document.getElementById("loader2").style.display = "flex";

        $.ajax({
            url: '/Admin/SearchRecordsFilteredData',
            type: 'GET',
            success: function (response) {
                document.getElementById("loader2").style.display = "none";
                $("#SearchRecordsPartialView").html(response);
            },
            error: function (error) {
                alert("An error occurred");
            }
        });
    }

    function filter(page, pageSize) {
        var Status = document.getElementById("selectStatus").value;
        var PatientName = document.getElementById("patientName").value;
        var TypeOfRequest = document.getElementById("selectRequestType").value;
        var FromDate = document.getElementById("fromDate").value;
        var ToDate = document.getElementById("toDate").value;
        var ProviderName = document.getElementById("providerName").value;
        var Email = document.getElementById("email").value;
        var PhoneNumber = document.getElementById("phoneNumber").value;

        document.getElementById("loader2").style.display = "flex";

        $.ajax({
            url: '/Admin/SearchRecordsFilteredData',
            type: 'POST',
            data: { requestStatus: Status, patientName: PatientName, requestType: TypeOfRequest, fromDate: FromDate, toDate: ToDate, providerName: ProviderName, email: Email, phoneNumber: PhoneNumber, page: page, pageSize: pageSize },
            success: function (response) {
                document.getElementById("loader2").style.display = "none";
                $("#SearchRecordsPartialView").html(response);
            },
            error: function (error) {
                alert("An error occurred");
            }
        });
    }

    function removeFilter() {
        var Status = document.getElementById("selectStatus");
        Status.selectedIndex = 0;
        document.getElementById("patientName").value = "";
        var PatientName = document.getElementById("patientName").value;
        var TypeOfRequest = document.getElementById("selectRequestType");
        TypeOfRequest.selectedIndex = 0;
        document.getElementById("fromDate").value = "";
        var FromDate = document.getElementById("fromDate").value;
        document.getElementById("toDate").value = "";
        var ToDate = document.getElementById("toDate").value;
        document.getElementById("providerName").value = "";
        var ProviderName = document.getElementById("providerName").value;
        document.getElementById("email").value = "";
        var Email = document.getElementById("email").value;
        document.getElementById("phoneNumber").value = "";
        var PhoneNumber = document.getElementById("phoneNumber").value;

        $.ajax({
            url: '/Admin/SearchRecordsFilteredData',
            type: 'GET',
            success: function (response) {
                $("#SearchRecordsPartialView").html(response);
            },
            error: function (error) {
                alert("An error occurred");
            }
        });
    }

    function downloadExcel()
    {
        console.log("hiii");
        document.getElementById("submit-button").click();
    }
</script>