@model HalloDoc.DataLayer.ViewModels.UserAccessViewModel
@{
    ViewData["Title"] = "User Access";
}
@section Styles{
    <link href="~/css/create-role.css" />
}

<style>
    .accordion-button:not(.collapsed)::after,
    .accordion-button::after {
        background-image: unset !important;
    }

    .accordion-button::after {
        background-image: initial;
    }
</style>

<body class="bg-light">
    <div class="bg-light" style="overflow: hidden;">
        <partial name="Toast" />
        <partial name="HeaderFooter" model="@Model.adminNavbarModel" />
        <div class="container">
            <div class="row">
                <div style="top: 42px; position: relative;" class="col">
                    <a class="float-end text-info mx-auto" id="backdesign" asp-controller="Admin" asp-action="AdminDashboard" style="text-decoration: none;margin-right: 243px;border: 1px solid; border-radius: 7px; height: 40px;display: flex;align-items: center;justify-content: center;padding: 4px 4px 4px 1px;width: 69px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-chevron-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                        </svg>
                        Back
                    </a>
                </div>

                <div class="row">
                    <div class="col mt-2">
                        <p class="h5 text-muted fw-bold" id="heading-one">
                            User Access
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white mt-3">
                <div class="row">
                    <div class="col-4">
                        <select class="btn border border-muted dropdown-toggle text-secondary w-100 px-2 py-1 ms-3 mt-3" style="text-align:start;" data-bs-toggle="dropdown" aria-expanded="false" name="role" id="select-role" onchange="filter()">
                            <option value="-1" selected>All</option>
                            <option value="1" class="bg-white">Admin</option>
                            <option value="2" class="bg-white">Physician</option>
                        </select>
                    </div>
                    <div class="col-7 ms-5 mt-3">
                        <input type="hidden" id="createAcc" />
                        <a asp-action="CreateAdminAccountFromUserAccess" asp-controller="Admin" class="btn btn-info text-white float-end" id="createAdmin" style="display: none;">Add</a>
                        <a asp-action="CreateProviderAccountFromUserAccess" asp-controller="Admin" class="btn btn-info text-white float-end" id="createPhysician" style="display: none;">Add</a>
                    </div>
                </div>

                <div>
                    <div class="mt-4 ms-3 me-3 myTable" id="UserAccessPartialView"></div>
                </div>

            </div>
        </div>
    </div>
</body>

<script>
    console.log("hello");
    window.onload = () => {
        document.getElementById("createAcc").value = "All";

        $.ajax({
            url: '/Admin/UserAccessFilter',
            type: 'POST',
            datatype: 'html',
            data: {
                accountType: document.getElementById("select-role").value
            },
            success: function (response) {
                $("#UserAccessPartialView").html(response);
            },
            error: function () {
                alert("An error occurred");
            }
        });
    }

    function filter() {
        var accType = document.getElementById("select-role").value;

        if (accType == 1) {
            document.getElementById("createAcc").value = "CreateAdminAccountFromUserAccess";
            document.getElementById("createAdmin").style.display = "block";
            document.getElementById("createPhysician").style.display = "none";
        }
        else if (accType == 2) {
            document.getElementById("createAcc").value = "CreateProviderAccountFromUserAccess";
            document.getElementById("createAdmin").style.display = "none";
            document.getElementById("createPhysician").style.display = "block";
        }
        else {
            document.getElementById("createAcc").value = "All";
            document.getElementById("createAdmin").style.display = "none";
            document.getElementById("createPhysician").style.display = "none";
        }

        console.log("Account type: " + document.getElementById("createAcc").value);
        $.ajax({
            url: '/Admin/UserAccessFilter',
            type: 'POST',
            datatype: 'html',
            data: {
                accountType: document.getElementById("select-role").value
            },
            success: function (response) {
                $("#UserAccessPartialView").html(response);
            },
            error: function () {
                alert("An error occurred");
            }
        });
    }

</script>