@model HalloDoc.DataLayer.ViewModels.AdminNavbarModel

@{
    List<string> roleMenu = ViewBag.Menu;
}


<style>
    .moon-flex {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 7px;
        right: 15px;
    }

    .logout-icon{
        position: absolute;
        right: 50px;
    }

    .change-theme {
        border: none;
        background-color: transparent;
        margin-top: 13px;
        margin-right: 20px;
    }

    .change-theme-mobile-view {
        position: absolute;
        right: -20px;
        top: 13px;
        border: none;
        background-color: transparent;
    }

    .night-mode-icon {
        height: 40px;
        width: 40px;
        color: #00ccff;
        border: 2px solid #00ccff;
        border-radius: 10px;
        padding: 10px;
    }

    .hide-icon {
        display: none;
    }

    .hide {
        display: none;
    }

    .records:active {
        border-bottom: none !important;
        outline: none !important;
    }

    .offcanvas-body .active {
        border-bottom: 2px solid #54B4D3;
    }

    .active {
        color: #00CCFF !important;
        font-weight: bold !important;
        position: relative;
    }


        .active .active-border {
            position: absolute;
            bottom: 0;
            left: 5px;
            width: 90%; /* Set the width to match the content width */
            height: 2px; /* Height of the border */
            background-color: #00CCFF;
        }

    .mobile-active {
        background-color: #E5F8FD !important;
    }

    .sidebar {
        height: 50px !important;
    }

    .dropdown-toggle:focus {
        box-shadow: none !important;
        border-color: transparent !important;
    }

    .btn:focus {
        outline: none !important;
    }

    .dropdown-item-active {
        background: #E5F9FF;
        font-weight: 600;
        color: #3fa8a9 !important;
    }

    .custom-dropdown-toggle::after {
        display: none;
        width: 0%;
    }

</style>

<nav class="d-flex justify-content-between Nav border-bottom border-dark-subtle w-100 sticky-top bg-light">
    <button class="btn btn-outline-info d-flex d-md-none h-50 mt-4 ms-3" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
    </button>
    <div class="d-flex gap-1 align-items-center">

        <img src="~/images/logo1.png" class="Image ps-1 pt-1 ms-5 d-none d-sm-flex" alt="Patient"
             style="height: 80px;" />
        <div>
            <img src="~/images/logo1.png" class="d-sm-none d-flex align-items-center" alt="Patient"
                 style="height: 80px;" />

        </div>
    </div>
    <div class="d-flex align-items-center gap-1 flex-wrap">
        <p class="fw-light p-0 text-muted fw-semibold me-4 d-none d-sm-inline-block"
           style="margin-top: 20px !important;">
            welcome
            @if (Model.roleName == "Admin")
            {
                <strong> @Model.Admin_Name</strong>
            }
            else
            {
                <strong> Dr. @Model.Admin_Name</strong>

            }
        </p>
        <a class="btn btn-outline-info d-none d-sm-flex mt-1" asp-controller="Login" asp-action="PatientLoginPage"
           style="margin-right:100px;">Logout</a>
        <a class="btn btn-outline-info d-inline-block d-sm-none logout-icon" asp-controller="Login"
           asp-action="PatientLoginPage">
            <i class="bi bi-box-arrow-right"></i>
        </a>
        <div class="moon-flex d-none d-sm-flex">
            <button onclick="changeTheme()" class="change-theme">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                     class="bi bi-moon night-mode-icon" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>
            <button onclick="changeTheme()" class="change-theme hide-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                     class="bi bi-brightness-high night-mode-icon" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                </svg>
            </button>
        </div>
        <div class="moon-flex d-sm-none d-flex flex-shrink-1 flex-sm-shrink-0">
            <button onclick="changeTheme()" class="change-theme-mobile-view">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-moon night-mode-icon-mobile" viewBox="0 0 16 16">
                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278M4.858 1.311A7.27 7.27 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.32 7.32 0 0 0 5.205-2.162q-.506.063-1.029.063c-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286" />
                </svg>
            </button>
            <button onclick="changeTheme()" class="change-theme-mobile-view hide-icon">

                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-brightness-high night-mode-icon-mobile" viewBox="0 0 16 16">
                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6m0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708" />
                </svg>
            </button>
        </div>
    </div>


</nav>

<nav class="shadow collpase d-none d-md-flex navbar-div" id="collapseExample">
    <div class="nav container-fluid ms-5" id="nav-tab" role="tablist">

        @if (roleMenu.Any(r => r == "AdminDashboard"))
        {
            @if (Model.Tab == 1)
            {
                <a class="nav-link active text-muted ps-3 ms-3 dashboard" id="nav-home-tab" asp-action="AdminDashboard" asp-controller="Admin">
                    Dashboard
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted ps-3 ms-4 dashboard" id="nav-home-tab" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderLocation"))
        {
            @if (Model.Tab == 2)
            {
                <a class="nav-link active text-muted ps-3 ms-3" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="ProviderLocation">
                    Provider Location
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted ps-3 ms-4" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="ProviderLocation">
                    Provider Location
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderInvoicing") && Model.roleName == "Provider")
        {
            @if (Model.Tab == 21)
            {
                <a class="nav-link active text-muted my-profile ps-3 ms-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyInvoicing">
                    Invoicing
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted my-profile ps-3 ms-4" id="nav-profile-tab" asp-controller="Provider" asp-action="MyInvoicing">
                    Invoicing
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "Scheduling") && Model.roleName == "Provider")
        {
            @if (Model.Tab == 19)
            {
                <a class="nav-link active text-muted my-profile ps-3 ms-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MySchedule">
                    My Schedule
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted my-profile ps-3 ms-4" id="nav-profile-tab" asp-controller="Provider" asp-action="MySchedule">My Schedule</a>
            }
        }

        @if (roleMenu.Any(r => r == "MyProfile") && Model.roleName == "Provider")
        {
            @if (Model.Tab == 20)
            {
                <a class="nav-link active text-muted my-profile ps-3 ms-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyProfile">
                    My Profile
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted my-profile ps-3 ms-4" id="nav-profile-tab" asp-controller="Provider" asp-action="MyProfile">My Profile</a>
            }
        }

        @if (roleMenu.Any(r => r == "MyProfile") && Model.roleName != "Provider")
        {
            @if (Model.Tab == 3)
            {
                <a class="nav-link active text-muted my-profile ps-3 ms-3" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">
                    My Profile
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted my-profile ps-3 ms-4" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">My Profile</a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderMenu") || (roleMenu.Any(r => r == "Scheduling") && Model.roleName == "Admin") || roleMenu.Any(r => r == "Invoicing"))
        {
            <div class="dropdown d-inline-block w-auto">
                @if (Model.Tab == 4 || Model.Tab == 5 || Model.Tab == 6 || Model.Tab == 7)
                {
                    <button class="btn dropdown-toggle nav-link text-muted records active ps-3 ms-3" id="nav-profile-tab2" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
                        Providers
                        <span class="active-border"></span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link text-muted records ps-3 ms-4" id="nav-profile-tab2" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">Providers</button>
                }

                <ul class="dropdown-menu ms-2">
                    @if (roleMenu.Any(r => r == "ProviderMenu"))
                    {
                        @if (Model.Tab == 5)
                        {
                            <li>
                                <a asp-action="ProviderMenu" asp-controller="Admin" class="dropdown-item-active text-muted dropdown-item mb-2">
                                    Provider
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="ProviderMenu" asp-controller="Admin" class="text-muted dropdown-item mb-2">
                                    Provider
                                </a>
                            </li>
                        }
                    }

                    @if (roleMenu.Any(r => r == "Scheduling"))
                    {
                        @if (Model.Tab == 6)
                        {
                            <li>
                                <a class="dropdown-item-active text-muted dropdown-item mb-2" asp-action="Scheduling" asp-controller="Admin">
                                    Scheduling
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="text-muted dropdown-item mb-2" asp-action="Scheduling" asp-controller="Admin">
                                    Scheduling
                                </a>
                            </li>
                        }
                    }

                    @if (roleMenu.Any(r => r == "Invoicing"))
                    {
                        @if (Model.Tab == 7)
                        {
                            <li>
                                <a class="dropdown-item-active text-muted dropdown-item mb-2" asp-action="Invoicing" asp-controller="Admin">
                                    Invoicing
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="text-muted dropdown-item mb-2" asp-action="Invoicing" asp-controller="Admin">
                                    Invoicing
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>

        }

        @if (roleMenu.Any(r => r == "Partners"))
        {
            @if (Model.Tab == 8)
            {
                <a class="nav-link active text-muted ms-3 partners ps-3 ms-3" id="nav-profile-tab" asp-controller="Admin" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Vendors">
                    Partners
                    <span class="active-border"></span>
                </a>
            }
            else
            {
                <a class="nav-link text-muted ms-3 partners ps-3 ms-4" id="nav-profile-tab" asp-controller="Admin" role="tab" aria-controls="nav-profile" aria-selected="false" asp-action="Vendors">
                    Partners
                </a>
            }
        }

        <div class="dropdown d-inline-block w-auto">
            @if (roleMenu.Any(r => r == "AccountAccess") || roleMenu.Any(r => r == "UserAccess") || roleMenu.Any(r => r == "CreateAdminAccount"))
            {
                @if (Model.Tab == 9 || Model.Tab == 10 || Model.Tab == 11 || Model.Tab == 12)
                {
                    <button class="btn dropdown-toggle nav-link text-muted ps-3 ms-3 access active" id="nav-profile-tab" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
                        Access
                        <span class="active-border"></span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link text-muted ps-3 ms-4 access" id="nav-profile-tab" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
                        Access
                    </button>
                }
            }
            <ul class="dropdown-menu ms-2">
                @if (roleMenu.Any(r => r == "AccountAccess"))
                {
                    @if (Model.Tab == 10)
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2 dropdown-item-active" asp-action="AccountAccess" asp-controller="Admin">
                                Account Access
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="AccountAccess" asp-controller="Admin">
                                Account Access
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "UserAccess"))
                {

                    @if (Model.Tab == 11)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="UserAccess" asp-controller="Admin">
                                User Access
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="UserAccess" asp-controller="Admin">
                                User Access
                            </a>
                        </li>
                    }
                }


                @if (roleMenu.Any(r => r == "CreateAdminAccount"))
                {
                    @if (Model.Tab == 12)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="CreateAdminAccount" asp-controller="Admin">
                                Create Admin Account
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="CreateAdminAccount" asp-controller="Admin">
                                Create Admin Account
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>

        <div class="dropdown d-inline-block w-auto">
            @if (roleMenu.Any(r => r == "SearchRecords") || roleMenu.Any(r => r == "EmailLogs") || roleMenu.Any(r => r == "SMSLogs") || roleMenu.Any(r => r == "PatientRecords") || roleMenu.Any(r => r == "BlockedHistory"))
            {
                @if (Model.Tab == 13 || Model.Tab == 14 || Model.Tab == 15 || Model.Tab == 16 || Model.Tab == 17 || Model.Tab == 18)
                {
                    <button class="btn dropdown-toggle nav-link text-muted ps-3 ms-3 records active" id="nav-profile-tab" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
                        Records
                        <span class="active-border"></span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link text-muted ps-3 ms-4 records" id="nav-profile-tab" type="button" role="tab" data-bs-toggle="dropdown" aria-expanded="false">
                        Records
                    </button>
                }
            }
            <ul class="dropdown-menu ms-2">
                @if (roleMenu.Any(r => r == "SearchRecords"))
                {
                    @if (Model.Tab == 14)
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2 dropdown-item-active" asp-action="SearchRecords" asp-controller="Admin">
                                Search Records
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="SearchRecords" asp-controller="Admin">
                                Search Records
                            </a>
                        </li>
                    }
                }
                @if (roleMenu.Any(r => r == "EmailLogs"))
                {
                    @if (Model.Tab == 15)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="EmailLogs" asp-controller="Admin">
                                Email Logs
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="EmailLogs" asp-controller="Admin">
                                Email Logs
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "SMSLogs"))
                {
                    @if (Model.Tab == 16)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="SmsLogs" asp-controller="Admin">
                                SMS Logs
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="SmsLogs" asp-controller="Admin">
                                SMS Logs
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "PatientHistory"))
                {
                    @if (Model.Tab == 17)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="PatientHistory" asp-controller="Admin">
                                Patient Records
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="PatientHistory" asp-controller="Admin">
                                Patient Records
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "BlockedHistory"))
                {
                    @if (Model.Tab == 18)
                    {
                        <li>
                            <a class="text-muted dropdown-item dropdown-item-active mb-2" asp-action="BlockedHistory" asp-controller="Admin">
                                Blocked History
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="text-muted dropdown-item mb-2" asp-action="BlockedHistory" asp-controller="Admin">
                                Blocked History
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>

@*Navbar Mobile View*@

<div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p class="fw-light p-0 text-muted fw-semibold me-4 d-none d-sm-inline-block ps-4 h5 mb-3"
           style="margin-top: 20px !important;">Welcome, <strong> @Model.Admin_Name</strong></p>
        @if (roleMenu.Any(r => r == "AdminDashboard"))
        {
            @if (Model.Tab == 1)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-home-tab" asp-controller="Admin" asp-action="AdminDashboard">
                    <span class="h5">Dashboard</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-home-tab" asp-controller="Admin" asp-action="AdminDashboard">
                    <span class="h5">Dashboard</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderLocation"))
        {
            @if (Model.Tab == 2)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="ProviderLocation">
                    <span class="h5">Provider Location</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="ProviderLocation">
                    <span class="h5">Provider Location</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "Scheduling") && Model.roleName == "Provider")
        {
            @if (Model.Tab == 19)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MySchedule">
                    <span class="h5">My Schedule</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MySchedule">
                    <span class="h5">My Schedule</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderInvoicing"))
        {
            @if (Model.Tab == 21)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyInvoicing">
                    <span class="h5">Invoicing</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyInvoicing">
                    <span class="h5">Invoicing</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "MyProfile") && Model.roleName == "Provider")
        {
            @if (Model.Tab == 20)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyProfile">
                    <span class="h5">My Profile</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Provider" asp-action="MyProfile">
                    <span class="h5">My Profile</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "MyProfile") && Model.roleName != "Provider")
        {
            @if (Model.Tab == 3)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">
                    <span class="h5">My Profile</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">
                    <span class="h5">My Profile</span>
                </a>
            }
        }

        @if (roleMenu.Any(r => r == "ProviderMenu") || (roleMenu.Any(r => r == "Scheduling") && Model.roleName == "Admin") || roleMenu.Any(r => r == "Invoicing"))
        {
            <div class="dropdown d-inline-block w-auto">

                @if (Model.Tab == 4 || Model.Tab == 5 || Model.Tab == 6 || Model.Tab == 7)
                {
                    <button class="btn dropdown-toggle nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Providers</span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Providers</span>
                    </button>
                }
                <ul class="dropdown-menu">
                    @if (roleMenu.Any(r => r == "ProviderMenu"))
                    {

                        @if (Model.Tab == 5)
                        {
                            <li>
                                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="ProviderMenu" asp-controller="Admin">
                                    <span class="h5">Provider</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="ProviderMenu" asp-controller="Admin">
                                    <span class="h5">Provider</span>
                                </a>
                            </li>
                        }
                    }

                    @if (roleMenu.Any(r => r == "Scheduling"))
                    {
                        @if (Model.Tab == 6)
                        {
                            <li>
                                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="Scheduling" asp-controller="Admin">
                                    <span class="h5">Scheduling</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="Scheduling" asp-controller="Admin">
                                    <span class="h5">Scheduling</span>
                                </a>
                            </li>
                        }
                    }

                    @if (roleMenu.Any(r => r == "Invoicing"))
                    {

                        @if (Model.Tab == 7)
                        {
                            <li>
                                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">
                                    <span class="h5">Invoicing</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-controller="Admin" asp-action="MyProfile">
                                    <span class="h5">Invoicing</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>

        }

        @if (roleMenu.Any(r => r == "Partners"))
        {

            @if (Model.Tab == 8)
            {
                <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="Vendors">
                    <span class="h5">Partners</span>
                </a>
            }
            else
            {
                <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" asp-controller="Admin" role="tab"
                   aria-controls="nav-Location" aria-selected="false" asp-action="Vendors">
                    <span class="h5">Partners</span>
                </a>
            }
        }

        <div class="dropdown w-100">
            @if (roleMenu.Any(r => r == "AccountAccess") || roleMenu.Any(r => r == "UserAccess") || roleMenu.Any(r => r == "CreateAdminAccount"))
            {

                @if (Model.Tab == 9 || Model.Tab == 10 || Model.Tab == 11 || Model.Tab == 12)
                {
                    <button class="btn dropdown-toggle mobile-active nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Access</span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Access</span>
                    </button>
                }
            }

            <ul class="dropdown-menu">
                @if (roleMenu.Any(r => r == "AccountAccess"))
                {

                    @if (Model.Tab == 10)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" aspasp-action="AccountAccess" asp-controller="Admin">
                                <span class="h5">Account Access</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="AccountAccess" asp-controller="Admin">
                                <span class="h5">Account Access</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "UserAccess"))
                {

                    @if (Model.Tab == 11)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="UserAccess" asp-controller="Admin">
                                <span class="h5">User Access</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="UserAccess" asp-controller="Admin">
                                <span class="h5">User Access</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "CreateAdminAccount"))
                {

                    @if (Model.Tab == 12)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="CreateAdminAccount" asp-controller="Admin">
                                <span class="h5">Create Admin Account</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="CreateAdminAccount" asp-controller="Admin">
                                <span class="h5">Create Admin Account</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>


        <div class="dropdown w-100">
            @if (roleMenu.Any(r => r == "SearchRecords") || roleMenu.Any(r => r == "EmailLogs") || roleMenu.Any(r => r == "SMSLogs") || roleMenu.Any(r => r == "PatientRecords") || roleMenu.Any(r => r == "BlockedHistory"))
            {

                @if (Model.Tab == 13 || Model.Tab == 14 || Model.Tab == 15 || Model.Tab == 16 || Model.Tab == 17 || Model.Tab == 18)
                {
                    <button class="btn dropdown-toggle nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Records</span>
                    </button>
                }
                else
                {
                    <button class="btn dropdown-toggle nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-Location-tab" role="tab" data-bs-toggle="dropdown" aria-expanded="false" aria-controls="nav-Location" aria-selected="false">
                        <span class="h5">Records</span>
                    </button>
                }
            }

            <ul class="dropdown-menu ms-2">
                @if (roleMenu.Any(r => r == "SearchRecords"))
                {

                    @if (Model.Tab == 14)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="SearchRecords" asp-controller="Admin">
                                <span class="h5">Search Records</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="SearchRecords" asp-controller="Admin">
                                <span class="h5">Search Records</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "EmailLogs"))
                {

                    @if (Model.Tab == 15)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="EmailLogs" asp-controller="Admin">
                                <span class="h5">Email Logs</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="EmailLogs" asp-controller="Admin">
                                <span class="h5">Email Logs</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "SMSLogs"))
                {

                    @if (Model.Tab == 16)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="SmsLogs" asp-controller="Admin">
                                <span class="h5">SMS Logs</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="SmsLogs" asp-controller="Admin">
                                <span class="h5">SMS Logs</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "PatientHistory"))
                {

                    @if (Model.Tab == 17)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="PatientHistory" asp-controller="Admin">
                                <span class="h5">Patient Records</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="PatientHistory" asp-controller="Admin">
                                <span class="h5">Patient Records</span>
                            </a>
                        </li>
                    }
                }

                @if (roleMenu.Any(r => r == "BlockedHistory"))
                {

                    @if (Model.Tab == 18)
                    {
                        <li>
                            <a class="nav-link sidebar mobile-active text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="BlockedHistory" asp-controller="Admin">
                                <span class="h5">Block History</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="nav-link sidebar text-dark mb-2 ps-4 py-3" id="nav-profile-tab" asp-action="BlockedHistory" asp-controller="Admin">
                                <span class="h5">Block History</span>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>

    </div>
</div>


<script>

</script>