.change-theme-mobile-view {
    position: absolute;
    right: -20px;
    top: 13px;
    border: none;
    background-color: transparent;
}

.night-mode-icon-mobile {
    height: 38px;
    width: 38px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.hidden{
    display: none;
}

textarea{
    resize: none !important;
}

input:focus {
    outline: #3DB6FF !important;
    /*border: 2px solid white !important;*/
    box-shadow: none !important;
    border-color: #3DB6FF !important;
    /*color: red !important;*/
}

textarea:focus {
    outline: none !important;
    border-color: #3DB6FF !important;
    box-shadow: none !important;
}

    textarea:focus::placeholder {
        color: #3DB6FF !important;
    }

.form-floating:focus-within label {
    color: #3DB6FF !important;
}

.custom-file-input {
    display: none !important;
    width: 0 !important;
}
