.moon-flex {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 15px;
}

.change-theme {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
}
.hidden-pass{
    display:none;
}
.night-mode-icon {
    height: 40px;
    width: 40px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.hide-icon{
    display: none;
}

#backdesign {
    border-radius: 5px;
    border: 2px solid rgb(32, 193, 204);
    padding: 10px;
    min-width: 90px;
}

.form-control:focus {
    border-color: cyan;
    box-shadow: none;
    border-width: 2px;
}

.input-group-append {
    cursor: pointer;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
}

.iti {
    display: inline-block;
    /* height:58px; */
    width: 100%;
}

#phone{
    height: 55px;
}

#phone1{
    height: 55px;
}

/*input:focus + .  {
    color: #1BA9FF !important;
    font-weight: normal;
}

input[type="text"], input[type="password"], textarea, input[type="tel"] {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

textarea:focus::placeholder {
    color: #1BA9FF;
    font-weight: normal;
}*/

/*input:focus{
    border: none !important;
}*/

/*.controls > input {
    float: right;
}*/

input:focus {
    outline: none !important;
    /*border: 2px solid white !important;*/
    box-shadow: none !important;
    /*color: red !important;*/
}

textarea:focus{
    outline: none !important;
    box-shadow: none !important;
}

textarea:focus::placeholder {
    color: #3DB6FF !important;
}

.form-floating:focus-within label {
    color: #3DB6FF !important;
}


