body{
    display: flex;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    /* align-items: center; */
}

#main-page{
    background-color: rgba(250,250,250,0.4) !important;
}

.back{
    color: blue;
}

.person-icon {
    top: 18px;
    right: 10px;
    position: absolute;
    height: 23px;
    width: 23px;
    border: 1.5px solid #54B4D3;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.person-icon1 {
    top: 18px;
    right: 10px;
    position: absolute;
    height: 23px;
    width: 23px;
    border: 1.5px solid #54B4D3;
    border-radius: 10px;
    padding: 2px;
    cursor: pointer;
}

.hide-eye {
    display: none;
}

.hide-eye1 {
    display: none;
}

.back-img{
    position: absolute;
    top: 0;
    width: 550px; 
    height: 100%;
    opacity: 0.45;
    filter: blur(2px);
    max-width: 90%;
    z-index: -1; 
    /* display: flex; */
    /* margin: auto; */
    /* align-self: center; */
}

.moon-flex{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 15px;
}

.change-theme {
    position: absolute;
    right: 30px;
    top: 30px;
    border: none;
    background-color: transparent;
}

.night-mode-icon {
    height: 40px;
    width: 40px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.hide-icon{
    display: none;
}

.theme-btn{
    display: none;
}

.inp{
    position: relative;
}

input:focus {
    outline: #3DB6FF !important;
    /*border: 2px solid white !important;*/
    box-shadow: none !important;
    border-color: #3DB6FF !important;
    /*color: red !important;*/
}

textarea:focus {
    outline: none !important;
    border-color: #3DB6FF !important;
    box-shadow: none !important;
}

    textarea:focus::placeholder {
        color: #3DB6FF !important;
    }

.form-floating:focus-within label {
    color: #3DB6FF !important;
}

@media only screen and (max-width: 600px){
    .change-theme{
        top: 20px;
        right: 20px;
    }
}