.main-body {
    overflow: hidden;
}

.moon-flex {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 15px;
}

.change-theme {
    border: none;
    background-color: transparent;
    margin-top: 13px;
    margin-right: 20px;
}

.change-theme-mobile-view {
    position: absolute;
    right: -20px;
    top: 13px;
    border: none;
    background-color: transparent;
}

.night-mode-icon {
    height: 40px;
    width: 40px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.hide-icon {
    display: none;
}

.hide {
    display: none;
}

input[type="text"]:focus {
    outline: 0;
}

.search-input:focus{
    outline: none;
    border: none;
}

