.moon-flex {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 15px;
}

.change-theme {
    position: absolute;
    right: 21px;
    top: 11px;
    border: none;
    background-color: transparent;
}

.change-theme-mobile-view {
    position: absolute;
    right: -20px;
    top: 13px;
    border: none;
    background-color: transparent;
}

.night-mode-icon {
    height: 45px;
    width: 45px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.night-mode-icon-mobile {
    height: 38px;
    width: 38px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.hide-icon{
    display: none;
}

.nav-links a.active{
    border-bottom: 2px solid #00ccff;
}

.change-my-color{
    fill: #54B4D3;
    /* border: 2px solid #54B4D3; */
}

.logout-icon{
    position: absolute;
    right: 80px;
    top: 41px;
}

/*input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

#a {
    display: none;
}

input[type="radio"]:checked {
    background-color: #17a2b8;
}*/

input[type='radio']:checked + label {
    background-color: dodgerblue;
    color: white;
}

.nav-links a {
    color: #333; /* Dark gray text color */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Add some padding */
    font-weight: bold; /* Bold text */
    /* Optional: Add a hover effect to change the text color or background */
    &:hover{
    color: #007bff; /* Blue hover color */
    background-color: #e9ecef; /* Light gray hover background */
    }
}

/* Style the active anchor tag */
.nav-links .active {
    color: #fff; /* White text color */
    background-color: #007bff; /* Blue background */
    border-radius: 5px; /* Rounded corners for the active tab */
}