html {
    background-color: #F8F9FA;
}

.main-body {
    overflow: hidden;
}

.moon-flex {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 7px;
    right: 15px;
}

.change-theme {
    border: none;
    background-color: transparent;
    margin-top: 13px;
    margin-right: 20px;
}

.night-mode-icon {
    height: 40px;
    width: 40px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}

.change-theme-mobile-view {
    position: absolute;
    right: -20px;
    top: 13px;
    border: none;
    background-color: transparent;
}

.night-mode-icon-mobile {
    height: 38px;
    width: 38px;
    color: #00ccff;
    border: 2px solid #00ccff;
    border-radius: 10px;
    padding: 10px;
}


.hide-icon {
    display: none;
}

.hide {
    display: none;
}

input[type="text"]:focus {
    outline: 0;
}

.search-input:focus{
    outline: none;
    border: none;
}

.searches{
    display: flex;
    flex-direction: row;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background-image: unset !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: #3DB6FF !important;
    /*border: 2px solid white !important;*/
    /*box-shadow: none !important;*/
    border-color: #3DB6FF !important;
    /*color: red !important;*/
}

textarea:focus {
    outline: none !important;
    border-color: #3DB6FF !important;
    /*box-shadow: none !important;*/
}

    textarea:focus::placeholder {
        color: #3DB6FF !important;
    }

.form-floating:focus-within label {
    color: #3DB6FF !important;
}

@media only screen and (max-width: 767px){
    .searches {
        display: flex !important;
        flex-direction: column;
        width: 50%;
        margin: 20px auto !important;
    }

    .search-cols {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 5px auto !important;
    }
}

.loader2 span:nth-child(1) {
    animation-delay: 0.2s;
}

.loader2 span:nth-child(2) {
    animation-delay: 0.4s;
}

.loader2 span:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }
}

.loader2 {
    display: none;
    height: 40px;
    margin: 95px auto;
    margin-bottom: 180px !important;
    align-self: center;
    color: #00ccff !important;
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

    .loader2 span {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #00ccff;
        animation: bounce 1.2s ease-in-out infinite;
        margin-right: 5px;
    }