.dark-green-button {
    background: #943db8;
}

.region-dropdown {
    border: 1px solid rgb(211, 210, 210);
    padding: 8px;
    border-radius: 8px;
    padding-left: 12px;
}

.fc-timeline-slot-frame{
    text-decoration: none !important;
}

.fc-scrollgrid-sync-inner{
    text-decoration: none !important;
}

.fc-timeline-event{
    height: 40px !important;
}

.fc-event-main-frame {
    display: flex !important;
    flex-wrap: wrap !important;
    text-align: center !important;
}

.fc-event-time{
    margin: auto !important;
}

@media only screen and (min-width: 992px)
{
    .three-button{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        text-align:center !important;
    }
}
